* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.card {
    background: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16rem;
    padding: 1rem;
    border-radius: 0.6rem;
}

.showcase {
    background: url("/images/image-equilibrium.jpg") no-repeat center center/cover;
    width: 14rem;
    height: 240px;
    transition: 0.9s ease-in-out;
    border-radius: 0.5rem;
}

/* ACTIVE STATE */
.showcase:hover {
    background: cyan url("/images/icon-view.svg") no-repeat center center;
    opacity: 0.5;
    filter: brightness(1.3);
}

.card p, span {
    color: hsl(215, 51%, 70%);
}

.showcase, .main-text, .value, hr {
    margin-bottom: 1rem;
}

.main-text h4 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-bottom: 1rem;
}

.main-text p {
    font-size: 0.88rem;
    font-weight: 300;
}

.value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.88rem;
    font-weight: 400;
}

.crypto {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.crypto span {
    color: hsl(178, 100%, 50%);
}

.time {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

hr {
    border-color: hsl(215, 32%, 27%);

}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.profile img {
    width: 2rem;
}

.profile p {
    font-size: 0.88rem;
    font-weight: 400;
}

.profile span {
    color: hsl(0, 0%, 100%);
}

.attribution { color: white; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }